@media (orientation: portrait) {

    .display-table-rule {
        display: none;
    }

    .display-cards-rule {
        display: block;
    }

    .div-sx {
        height: 40%;
    }

    .div-dx {
        height: 60%;
    }

    .document-metadata-info {
        border-bottom: 1px solid var(--bs-secondarydarker);
    }

    .mock-oo-land {
        display: none;
    }

    .mock-oo-port {
        display: block;
    }

}